<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                Bản quyền © 2021 thuộc <a href="#">Vinh Thiên Trường</a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="javascript: void(0);">Thông tin về chúng tôi</a>
                    <a href="javascript: void(0);">Hỗ trợ</a>
                    <a href="javascript: void(0);">Liên hệ</a>
                </div>
            </div>
        </div>
    </div>
</div>